
body{
    font-family: "Lucida Console";
    font-size: 1.3em;
    margin: 0px;
    background-color: rgb(176, 231, 176);
    
}









.sliderText{
    position:  relative ;
    margin : 5px;
    width :500px;
    height: 500px;
    margin: auto;
    overflow: hidden;
}
.sliderText img{
    width: 100%;
    display: none;
}

img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

.sliderText p{
    width: 100%;
    display: none;
    font-size: 3rem;
}
p.displayWord{
     display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.sliderText button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.prevB{
    left: 0;
}
.nextB{
    right: 0;
}
